@import url(./forms.css);
@import url(./forms1.css);

.componentheading {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #6E89DD;
	text-align: left;
	vertical-align: middle;
}

hr { margin: 1em 0; }


#system-message {
	margin: 0 15px;
}

#system-message .error {
	color: red;
	font-size: 15px;
	font-weight: bold;
}

#system-message .message {
	font-size: 11px;
	text-align: left;
}